body {
  background-color: #313131;
  color: white;
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.train-wrapper {
  padding: 40px;
  display: flex;
}

.circle {
  flex: 2;
}

.circle-wrapper {
  height: 250px;
  width: 250px;
  background-color: #fd8a03;
  border-radius: 50%;
}

.train {
  flex: 4;
  display: flex;
  padding: 10px 40px;
}

.train-info {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.arriving {
  mar gin-top: 55px;
  opacity: inherit;
  transition: opacity 100ms ease;
}

.time-away-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.time-away {
}

.time-minutes {
  font-size: 12rem;
  line-height: 10rem;
}

.time-minutes, .time-label {
  text-align: center;
}

.umbrella {
  height: 300px;
  transform: rotate(-45deg);
}

* {
  min-height: 0;
  min-width: 0;
}
